body{
  background: #e6ecf0;
}
a:hover, a:active{
  text-decoration: none;
  color: #55acee;
  outline: 0;
}
.tweet-section{
  margin-top: 25px;
}
.spinner{
  color: #55acee;
  text-align: center;
  margin-top: 80px;
}
.spinner i{
  font-size: 32px;
}